---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$spacing-unit:     30px;
$content-width:    1000px;

$font3: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

$bg1: url('/assets/images/weather.png');
$bg2: url('/assets/images/confectionary.png');
$bg3: url('/assets/images/ps_neutral.png');
$bg4: url('/assets/images/subtle_surface.png');
$bg5: url('/assets/images/ignasi_pattern_s.png');
$bg6: url('/assets/images/congruent_pentagon.png');
$bg7: url('/assets/images/gplaypattern.png');
$bg8: url('/assets/images/blu_stripes.png');
$bg9: url('/assets/images/agsquare.png');

$breakpoint-tablet: $content-width;
$breakpoint-mobile: 500px;

$color1:          #EAE8FF;
// $color1:       #E2E8CC;
$color2:          #F1FAEE;
$color3:          #DCC48E;
$color4:          #457B9D;
$color5:   #17BEBB;
$color-light-borders: #EAE8FF;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset",
        "base",
        "layout",
        "banners",
        "home",
        "syntax-highlighting"
;
