---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$spacing-unit:     30px;
$content-width:    1000px;

$font3: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

$breakpoint-tablet: $content-width;
$breakpoint-mobile: 500px;

$color1:          #EAE8FF;
// $color1:       #E2E8CC; // off-white https://coolors.co/app/4e3524-dcc48e-eaefd3-b3c0a4-ffffff
$color2:          #F1FAEE; // off-white
$color3:          #DCC48E; // light blue
$color4:          #457B9D; // blue
$color-borders:   #4E3524; // dark blue
$color-light-borders: #EAE8FF;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset",
        "base",
        "layout",
        "banners",
        "home",
        "syntax-highlighting"
;
