---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$spacing-unit:     30px;
$content-width:    1000px;

$breakpoint-tablet: $content-width;
$breakpoint-mobile: 500px;

$color1:          #E63946; // red/orange
$color2:          #F1FAEE; // off-white
$color3:          #A8DADC; // light blue
$color4:          #457B9D; // blue
$color-borders:   #1D3557; // dark blue

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset",
        "base",
        "layout",
        "banners",
        "home",
        "syntax-highlighting"
;
