
<div class="banner banner-home">
    <div class="banner-film">
        <div class="greetings">Hello, I'm Brandon</div>
        <div id="tagline">I build simplistic web applications.</div>

        <div class="container">
          <div id="banner-widgets">
            <div class="icon">{% include icon-twitter.html %}</div>
            <div class="icon">{% include icon-linkedin.html %}</div>
            <div class="icon">{% include icon-github.html %}</div>
          </div>
        </div>
    </div>
</div>
