---
layout: page
title: Categories
permalink: /categories/
---

<ul class="tags-box">
{% if site.posts != empty %}
    {% assign sorted_cats = (site.categories | sort:0) %}
        {% for cat in sorted_cats %}
            <a href="{{ site.baseurl }}/categories/#{{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat | first }} ({{ cat[1].size }})</a>&nbsp;
        {% endfor %}
</ul>

<ul class="tags-box">
{% assign sorted_cats = (site.categories | sort:0) %}
    {% for cat in sorted_cats %}
        <li id="{{ cat[0] }}">{{ cat | first}}</li>
            {% for post in cat[1] %}
                <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time> &raquo;
                <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><br />
            {% endfor %}
    {% endfor %}

{% else %}
<span>No posts</span>
{% endif %}
</ul>
