---
layout: page
title: Tags
permalink: /tags/
---

<div class="tags">
  <ul class="tag-list">
  {% capture site_tags %}
      {% assign sorted_tags = (site.tags | sort:0) %}
          {% for tag in sorted_tags %}
              {{ tag | first }}
          {% endfor %}
  {% endcapture %}
  {% assign tag_words = site_tags | split:' ' | sort %}

  {% for tag in tag_words %}
      <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a> &nbsp;
  {% endfor %}
</ul>

  <div class="tag-details">
      {% assign sorted_tags = (site.tags | sort:0) %}
          {% for tag in sorted_tags %}
              <h4 id="{{ tag[0] }}">{{ tag | first }}</h4>
                  {% for post in tag[1] %}
                      <div class="tag-post">
                        <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><br />
                      </div>
                  {% endfor %}
          {% endfor %}
  {% assign tag_words = site_tags | split:',' | sort %}
</div>
</div>
