<footer class="site-footer">
  <div class="footer-content">
    <div class="disclaimer-wrapper">
      <div class="disclaimer">Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer’s view in any way.</div>
    </div>
    <div class="contact-block">
      <div class="footer-heading">I can help.</div>
      <div class="footer-subheading">I’m currently available for freelance work.</div>
      <p>If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.</p>
      <!-- <div>Get in touch</div> -->
    </div>
    <div class="copyright">&copy; Brandon Clapp 2016</div>
  </div>
</footer>
