<header class="site-header">
  <div class="wrapper">
    <div class="logo">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <nav class="site-nav">
      {% for my_page in site.pages %}
        {% if my_page.title %}
            {% unless my_page.url contains '/blog/page' %}
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endunless %}
        {% endif %}
      {% endfor %}
    </nav>

    <nav class="mobile-site-nav">
      <div id="mobile-menu-icon" class="mobile-menu-icon">
        {% include icon-mobile-menu.svg %}
      </div>
      <div id="mobile-menu-links" class="mobile-menu-links">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>

<script type="text/javascript">
  function hasClass(element, cls) {
      return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
  }
  window.onload = function(e) {
    document.getElementById('mobile-menu-icon')
    .addEventListener('click', function() {
      var mobileMenuLinks = document.getElementById('mobile-menu-links');
      hasClass(mobileMenuLinks, 'enabled') ?
        mobileMenuLinks.classList.remove('enabled') :
        mobileMenuLinks.classList.add('enabled');
    });
  }
</script
