/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

body {
  //font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  background-color: $color4;
}

p {
  line-height: 24px;
}

a {
  color: $color4;
  text-decoration: none;
  &:hover, :focus, :visited {
    color: $color3;
  }
}

.page {
  background-color: lighten($color4, 0%);
  @extend %vertical-rhythm;

  .content {
    background-color: $color3;
    width: $content-width;
    padding: 1em;
    margin: 0 auto;
  }
}
