body {
    //font-family: 'Oswald', sans-serif;
    // font-family: 'Roboto Condensed', sans-serif;
    font-family: $font3;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    //background-color: $color4;
    background-color: lighten($color1, 5%);
    margin-top: 80px;
}

h1 { font-size: 32px; margin: .5em 0; }
h2 { font-size: 28px; margin: .5em 0; }
h3 { font-size: 24px; margin: .5em 0; }
h4 { font-size: 20px; margin: .5em 0; }
h5 { font-size: 18px; margin: .5em 0; }
h6 { font-size: 16px; margin: .5em 0; }

p {
    line-height: 24px;
}

a {
    color: $color4;
    text-decoration: none;
    &:hover,
    :focus,
    :visited {
        color: $color3;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
    margin-bottom: $spacing-unit;
}

.col-6 {
    width: 50%;
    box-sizing: border-box;
}

.panel {
  // background-color: $color3;
  border-radius: 3px;
  border: 2px solid white;

  .panel-header {
    //background-color: $color2;

    h2 {
      //font-family: 'Oswald', sans-serif;
      font-size: 20px;
      font-weight: 400;
      padding: 10px;
      letter-spacing: .03em;
    }
  }

  .panel-body {
    padding: 15px;
  }
}

.transparent {
  background: rgba(0,0,0,0.4);
}

.transparent-inverse {
  background: rgba(255,255,255,0.6);
}

.container {
    // max-width: $content-width;
    margin: 0 auto;
}
