body {
    font-family: $font3;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    background: $bg7;
}

h1 { font-size: 32px; margin: .5em 0; }
h2 { font-size: 28px; margin: .5em 0; }
h3 { font-size: 24px; margin: .5em 0; }
h4 { font-size: 20px; margin: .5em 0; }
h5 { font-size: 18px; margin: .5em 0; }
h6 { font-size: 16px; margin: .5em 0; }

p {
    line-height: 1.5em;
    font-size: 1.1em;
}

a {
    color: $color4;
    text-decoration: none;
    &:hover,
    :focus,
    :visited {
        color: $color5;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
    margin-bottom: $spacing-unit;
}
