/* Header */

.site-header {
  background: rgba(255,255,255, 0.8);
  $header-height: 80px;
  height: $header-height;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 3px solid $color-borders;

  .logo {
      $logo-font-size: 20px;
      text-transform: uppercase;
      font-size: 20px;
      margin-top: ($header-height - $logo-font-size) / 2;
      letter-spacing: .1em;
      font-weight: 400;
      float: left;

      a {
        color: black;
      }
  }

  .wrapper {
    max-width: $content-width;
    margin: 0 auto;

    .site-nav {
      $top-link-font-size: 14px;
      font-size: $top-link-font-size;
      float: right;
      margin-top: ($header-height - $top-link-font-size) / 2;

      .page-link {
        text-transform: lowercase;
        margin-left: 1em;
      }
    }
  }
}

#banner-widgets {
  margin: 80px auto;
  $icon-width: 80px;
  $icon-margin: 15px;
  $icon-count: 3;

  width: ($icon-width * $icon-count) + (($icon-count - 1) * $icon-margin);

  .icon {
    width: $icon-width;
    float: left;
    margin-right: 15px;
    opacity: 0.6;
    transition: opacity .7s;

    &:hover {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }

    &:last-child:after {
      clear: both;
    }
  }
}

.container {
    max-width: $content-width;
    margin: 0 auto;
}

.github-list {
    // border: 1px solid $color1;
    padding-right: 10px;
}

.twitter-list {
    // border: 1px solid $color1;
    padding-left: 10px;
}

/* Footer */
.site-footer {
  height: 300px;
  border-top: 3px solid $color2;
  background-color: $color3;
}
