/* Header */

.site-header {
  // background: rgba(255,255,255, 0.8);

  $header-height: 80px;
  // $border-color: desaturate(lighten($color5, 40%), 40%);
  $border-color: $color5;

  height: $header-height;
  border-bottom: 3px solid $border-color;
  background: $bg9;

  @media (max-width: $breakpoint-tablet) {
    padding: 0 20px;
  }

  .logo {
      $logo-font-size: 38px;
      font-family: Qwigley;
      font-size: $logo-font-size;
      margin-top: ($header-height - $logo-font-size) / 2;
      font-weight: 300;
      font-style: normal;
      float: left;

      a {
        color: black;
      }
  }

  .wrapper {
    max-width: $content-width;
    margin: 0 auto;
    line-height: normal;

    .site-nav {
      $top-link-font-size: 16px;
      font-size: $top-link-font-size;
      float: right;
      margin-top: ($header-height - $top-link-font-size) / 2;

      @media (max-width: $breakpoint-mobile) {
          display: none;
      }

      .page-link {
        text-transform: lowercase;
        margin-left: 1em;
        font-weight: 400;
      }
    }

    .search {
      $search-box-height: 25px;
      float: right;
      height: $search-box-height;

      input#search-box  {
        font-size: 14px;
        width: 200px;
      }

      input#search-button {
        min-width: 50px !important;
      }

      margin-top: ($header-height - $search-box-height) / 2;

      /* No greater than 600px, no less than 500px */
      @media (max-width:600px) {
        display: none;
      }
    }

    .mobile-site-nav {
      $mobile-menu-icon-width: 32px;
      display: none;

      @media (max-width: $breakpoint-mobile) {
          display: block;
          float: right;
          margin-top: ($header-height - $mobile-menu-icon-width) / 2;
      }

      .mobile-search-wrapper {
        margin: 0 1em .5em 1em;
      }

      .mobile-search {
        $search-box-height: 25px;
        // float: right;
        height: $search-box-height;

        input#search-box  {
          // width: 100%;
          box-sizing: border-box;
        }

        margin-top: 1em;
      }

      .mobile-menu-icon {
        width:  $mobile-menu-icon-width;
      }

      .mobile-menu-links {
        position: absolute;
        top: $header-height;
        left: 0;
        right: 0;
        background: $bg9;
        border-bottom: 2px solid $color1;
        display: none;

        &.enabled {
          display: block;
        }

        a {
          display: block;
          padding: 1em;
          font-size: 18px;
        }
      }
    }
  }
}


.content {
   max-width: 1000px;
   margin: 1em auto;
   padding: 1em;
   box-sizing: border-box;
   background: white;
   border: 1px solid #eee;
   min-height: 420px;
}

/* Footer */

.contact-block-wrapper {
  $border-color: desaturate(lighten($color5, 40%), 40%);
  font-family: $font3;
  background: $bg7;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .contact-block {
    text-align: center;
    max-width: $content-width/2;
    margin: 0 auto;
    padding: 1em 0;
    // min-height: 360px;

    .footer-heading {
      color: $color5;
      font-size: 2.2em;
      font-weight: 400;
      margin: .75em;
    }

    .footer-subheading {
      font-size:1.5em;
      margin: $spacing-unit/2;
    }

    #contact-block-widgets {
      margin: 0 auto;
      $icon-width: 50px;
      $icon-margin: 15px;
      $icon-count: 4;

      p {
        font-size: 1.2em;
      }

      width: ($icon-width * $icon-count) + (($icon-count - 1) * $icon-margin);
      height: $icon-width; // also the height for 1x1 ratio.

      .icon {
        width: $icon-width;
        float: left;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

        &:last-child:after {
          clear: both;
        }
      }
    }
  }
}

.site-footer {
  $border-color: desaturate(lighten($color5, 40%), 40%);
  margin-top: ($spacing-unit/2);
  border-top: 1px solid $border-color;
  background: $bg8;
  font-family: $font3;

  .disclaimer {
    font-size: .8em;
    max-width: $content-width;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    line-height: normal;
    padding: .6em 0 0 0;
  }

  .copyright {
    text-align: center;
    font-size: 14px;
    max-width: $content-width;
    margin: 0 auto;
    padding: 1em;
  }
}
