/* Header */

.site-header {
  // background: rgba(255,255,255, 0.8);

  $header-height: 80px;
  height: $header-height;
  border-bottom: 3px solid $color5;
  background: $bg3;

  @media (max-width: $breakpoint-tablet) {
    padding: 0 20px;
  }

  .logo {
      $logo-font-size: 20px;
      text-transform: uppercase;
      font-size: 20px;
      margin-top: ($header-height - $logo-font-size) / 2;
      letter-spacing: .1em;
      font-weight: 400;
      float: left;

      a {
        color: black;
      }
  }

  .wrapper {
    max-width: $content-width;
    margin: 0 auto;

    .site-nav {
      $top-link-font-size: 14px;
      font-size: $top-link-font-size;
      float: right;
      margin-top: ($header-height - $top-link-font-size) / 2;

      @media (max-width: $breakpoint-mobile) {
          display: none;
      }

      .page-link {
        text-transform: lowercase;
        margin-left: 1em;
      }
    }

    .mobile-site-nav {
      $mobile-menu-icon-width: 32px;
      display: none;

      @media (max-width: $breakpoint-mobile) {
          display: block;
          float: right;
          margin-top: ($header-height - $mobile-menu-icon-width) / 2;
      }

      .mobile-menu-icon {
        width:  $mobile-menu-icon-width;
      }

      .mobile-menu-links {
        position: absolute;
        top: $header-height;
        left: 0;
        right: 0;
        background: url("/assets/images/ps_neutral.png");
        border-bottom: 2px solid $color1;
        display: none;

        &.enabled {
          display: block;
        }

        a {
          display: block;
          padding: 1em;
          font-size: 18px;
        }
      }
    }
  }
}

.page {
    .content {
        max-width: $content-width;
        margin: 0 auto 20px;
        box-sizing: border-box;
    }
}

/* Footer */
.site-footer {
  border-top: 1px solid $color4;
  background: $bg1;
  font-family: $font3;

  .contact-block {
    text-align: center;
    max-width: $content-width/2;
    margin: 0 auto;
  }

  .disclaimer-wrapper {
      background: $bg5;
      border-bottom: 1px solid $color4;

  }

  .disclaimer {
    padding: 1em;
    font-size: 14px;
    max-width: $content-width;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
  }

  .copyright {
    text-align: center;
    font-size: 14px;
    max-width: $content-width;
    margin: 0 auto;
    padding: 3em;
  }

  .footer-content {

    .footer-heading {
      color: $color5;
      font-size: 2.2em;
      font-weight: 400;
      margin: 1em;
    }

    .footer-subheading {
      font-size:1.5em;
      margin: $spacing-unit/2;
    }

    p {
      font-size: 1.2em;
    }
  }
}
