#banner-widgets {
  margin: 80px auto;
  $icon-width: 80px;
  $icon-margin: 15px;
  $icon-count: 3;

  width: ($icon-width * $icon-count) + (($icon-count - 1) * $icon-margin);

  .icon {
    width: $icon-width;
    float: left;
    margin-right: 15px;
    opacity: 0.6;
    transition: opacity .7s;

    &:hover {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }

    &:last-child:after {
      clear: both;
    }
  }
}

.content {
  // -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  // box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.github-list {
    padding-right: 10px;
}

.twitter-list {
    padding-left: 10px;
}

#latest-posts {
  max-width: $content-width;
  margin: 0 auto;
  h3 {
    color: $color5;
    margin-bottom: .5em;
    font-size: 20px;
    font-weight: 300;
    margin-left: .5em;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    border-top: 1px solid $color-light-borders;
  }
}

/* Exerpt styling */
ul.post-list {

  .post {
    // padding: 1em;

    &:hover {
      // do whatever to posts
    }

    // p {
    //   font-size: 1.1em;
    // }

    .post-title {
      font-size: 22px;
      font-weight: 300;
    }

    .post-meta {
      padding: 10px 0;
    }
  }
}
