#banner-widgets {
  margin: 80px auto;
  $icon-width: 80px;
  $icon-margin: 15px;
  $icon-count: 3;

  width: ($icon-width * $icon-count) + (($icon-count - 1) * $icon-margin);

  .icon {
    width: $icon-width;
    float: left;
    margin-right: 15px;
    opacity: 0.6;
    transition: opacity .7s;

    &:hover {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }

    &:last-child:after {
      clear: both;
    }
  }
}

.content {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.github-list {
    padding-right: 10px;
}

.twitter-list {
    padding-left: 10px;
}

#latest-posts {
  max-width: $content-width;
  margin: 0 auto;
  h3 {
    color: $color2;
    margin-bottom: .5em;
    font-size: 20px;
    font-weight: 300;
    margin-left: .5em;
  }
}

/* Exerpt styling */
ul.post-list {
  .post {
    margin: 1.5em 0;

    &:first-child {
      margin-top: 0;
    }

    p {
      line-height: 20px;
      font-size: 15px;
    }

    // h2 { margin-bottom: }

    hr {
      margin-top: $spacing-unit/2;
      border-top: 1px solid darken($color3, 15%);
      border-bottom: 1px solid lighten($color3, 15%);
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .post-title {
      font-size: 24px;
    }

    .post-meta {
      margin: 10px 0;
      letter-spacing: .05em;
    }
  }
}
