---
layout: page
title: Blog
navigation: true
banner: blog
---
<div class="blog">
  <!-- This loops through the paginated posts -->
  <hr />
  {% for post in paginator.posts %}
    <div class="post">
      <div class="date">{{ post.date | date: "%b %-d, %Y" }}</div>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <div class="excerpt">
        {{ post.excerpt }}
      </div>
    </div>
    <hr />
  {% endfor %}

  <!-- Pagination links -->
  <div>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}">Previous</a>
    {% else %}
      <span>Previous</span>
    {% endif %}
    <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">Next</a>
    {% else %}
      <span>Next</span>
    {% endif %}
  </div>
</div>
