---
layout: default
comments: true
banner: post
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.header %}
    <div class="header-image">
      <img src="{{ page.header | prepend: "/assets/images/posts/headers/" }}" />
    </div>
  {% endif %}

  <div class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="post-meta">
      {% if page.categories.size > 0 %}
      <span>Posted in
        {% for cat in page.categories %}
          <strong><a href="/categories/#{{cat}}">{{ cat }}</a></strong>
        {% endfor %}
      on</span>
      {% endif %}

      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.author %}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
    </div>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-0619534991031667"
        data-ad-slot="4513853264"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="post-content markdown-body" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.tags.size > 0 %}
  <div style="margin-bottom: 1.5em">
    <span><strong>Tags: </strong></span>
    {% for tag in page.tags %}
      <span><a href="/tags/#{{tag}}">{{tag}}</a></span>{% unless forloop.last %}<span>, </span>{% endunless %}
    {% endfor %}
  </div>
  {% endif %}

  {% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
    /**
    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */

    disqus_developer = 1;
    var disqus_config = function () {
      this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
      this.page.identifier = "{{ page.id }}";
    };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//brandonclapp.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}

  <hr />

  {% if page.previous %}
  <div class="pull-left">
    <a href="{{ page.previous.url }}">Previous Post</a>
  </div>
  {% endif %}
  {% if page.next %}
  <div class="pull-right">
    <a href="{{ page.next.url }}">Next Post</a>
  </div>
  {% endif %}
  <div class="clearfix"></div>
</article>

<script id="dsq-count-scr" src="//brandonclapp.disqus.com/count.js" async></script>
